@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Social Login Web App</h1>
    <p class="lead">Shows how to use Google as an authentication service, in a web app.</p>
    <p><a href="http://www.asp.net/mvc/overview/security/create-an-aspnet-mvc-5-app-with-facebook-and-google-oauth2-and-openid-sign-on" class="btn btn-primary btn-lg" target="_blank">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>The article on the ASP.NET web site (linked above; click the "More info" button) shows how to use a social network service as your app's identity service.</p>
        <p>This app shows the basics, the essentials. More work needs to be done to make it production-ready.</p>
    </div>
    <div class="col-md-4">
        <h2>More info</h2>
        <p>On the Task List, use the Attention comment tokens to learn the app's features.</p>
    </div>
</div>