<div class="jumbotron">
    <h1>Lab 7</h1>
    <p class="lead">Add security features to the professor's Lab 6 example solution.</p>
    <p><a href="http://petermcintyre.com/dps907/graded-work/lab7/" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About this app</h2>
        <p>Adds security features to the professor's Lab 6 example solution.</p>
        <p>A separate "Identity Server" is required, to use this app successfully.</p>
        <p>Requires authentication to perform most tasks.</p>
    </div>
    <div class="col-md-4">
        <h2>How to use this app</h2>
        <p>Load the Identity Server app.</p>
        <p>Get an access token from the Identity Server.</p>
        <p>Then, perform tasks (get, add, change) on this app's objects.</p>
    </div>
    <div class="col-md-4">
        <h2>List of project features</h2>
        <p>This project template includes:</p>
        <ul>
            <li>New Web API project, individual user accounts</li>
            <li>Update packages (to October 16, 2015), AutoMapper</li>
            <li>Uses a repository pattern, and a unit-of-work class</li>
            <li>Link relations</li>
            <li>"Add" template, to help a requestor create new resources</li>
            <li>Global error handling for the app</li>
            <li>Handles the HTTP OPTIONS method</li>
            <li>Web API Help Page documentation</li>
            <li>Handles a request to the "root" or initial URI</li>
            <li>Media type formatter for byte-oriented content (images, audio, etc.)</li>
        </ul>
    </div>
</div>
