
@{
    ViewBag.Title = "Index";
}

<h2>Maintenance controller</h2>

<hr />

<h4>List of accounts:</h4>

<div class="row">
    <div class="col-md-6">
        <table class="table table-striped">
            @foreach (var user in ViewBag.UserList as IEnumerable<string>)
            {
                <tr><td>@user</td><td>@Html.ActionLink("Delete", "Delete", "Maintenance", new { @userName = @user }, null)</td></tr>
            }
        </table>
    </div>
</div>
