<div class="jumbotron">
    <h1>Identity Server</h1>
    <p class="lead">This app combines an <em>Identity Server</em> with an <em>Authentication service</em>.</p>
    <p><a href="http://petermcintyre.com/dps907/graded-work/lab7/" class="btn btn-primary btn-lg" target="_blank">More info &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Web app, for identity management</h2>
        <p>Use the 'Register' and 'Log in' links, in the upper-right area of the page, to do account management tasks. </p>
        <p>After login, you can click your 'user name' link for more.</p>
    </div>
    <div class="col-md-6">
        <h2>Web service, for authentication and token distribution</h2>
        <p>Use the /token endpoint to authenticate. Send a POST request, with Content-Type... <pre>application/x-www-form-urlencoded</pre></p>
        <p>Its message body will include content similar to this:</p>
        <p><pre>grant_type=password&username=uuuuuuuu@example.com&password=pppppppp</pre></p>
        <p>If authenticated, the web service will respond with a token, which will live for ten (10) minutes. You can change that value in the 'Startup' class.</p>
    </div>
</div>
