<div class="jumbotron">
    <h1>Local Security</h1>
    <p class="lead">A web service, with Individual User Accounts, and claims.</p>
    <p><a href="http://petermcintyre.com/dps907/notes/nov02/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About this app</h2>
        <p>Builds upon the "ProjectWithSecurity" app.</p>
        <p>When you register an account, you can include claims. See the "Account-Register-request-bodies" text file for examples.</p>
    </div>
    <div class="col-md-4">
        <h2>How to use this app</h2>
        <p>Use Fiddler.</p>
        <p>It also has a Maintenance controller that enables you to view a list of accounts, and delete an account.</p>
    </div>
    <div class="col-md-4">
        <h2>List of project features</h2>
        <p>This project template includes:</p>
        <ul>
            <li>New Web API project, individual user accounts</li>
            <li>Update packages (to October 16, 2015), AutoMapper</li>
            <li>Uses a repository pattern, and a unit-of-work class</li>
            <li>Link relations</li>
            <li>"Add" template, to help a requestor create new resources</li>
            <li>Global error handling for the app</li>
            <li>Handles the HTTP OPTIONS method</li>
            <li>Web API Help Page documentation</li>
            <li>Handles a request to the "root" or initial URI</li>
            <li>Media type formatter for byte-oriented content (images, audio, etc.)</li>
        </ul>
    </div>
</div>
