<div class="jumbotron">
    <h1>ErrorHandling</h1>
    <p class="lead">Introduction to error handling and logging.</p>
    <p><a href="http://petermcintyre.com/dps907/notes/oct15/" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About this app</h2>
        <p>This app does not have a design model for real-world entities.</p>
        <p>Instead, it includes only the components that implement the error handling and logging components.</p>
    </div>
    <div class="col-md-4">
        <h2>What to look for</h2>
        <p>Show the Task List, and go through the list of "Attention" tokens.</p>
        <p>Here are the highlights:</p>
        <ul>
            <li>Errors are saved in the data store</li>
            <li>An errors controller enables a requester to view error info</li>
        </ul>
    </div>
</div>
