<div class="jumbotron">
    <h1>MediaUpload</h1>
    <p class="lead">Getting started with internet media types. Media upload in this example.</p>
    <p><a href="http://petermcintyre.com/dps907/notes/oct19/" target="_blank" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>About this app</h2>
        <p>Getting started with internet media types.</p>
        <p>This app enables you to upload media of any type.</p>
    </div>
    <div class="col-md-4">
        <h2>How to use this app</h2>
        <p>View the /api URI to learn about the web service.</p>
        <p>You can POST a new object, but do <em>not</em> include the media.</p>
        <p>After a POST, you will have an object identifier. Use it in a PUT request and include your media.</p>
    </div>
    <div class="col-md-4">
        <h2>List of project features</h2>
        <p>This project template includes:</p>
        <ul>
            <li>New Web API project, individual user accounts</li>
            <li>Update packages (to October 10, 2015), AutoMapper</li>
            <li>Uses a repository pattern, and a unit-of-work class</li>
            <li>Link relations</li>
            <li>"Add" template, to help a requestor create new resources</li>
            <li>Global error handling for the app</li>
            <li>Handles the HTTP OPTIONS method</li>
            <li>Web API Help Page documentation</li>
            <li>Handles a request to the "root" or initial URI</li>
        </ul>
    </div>
</div>
