@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SOAP Client</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://petermcintyre.com/dps907/notes/dec03/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Before using this client app, load/run the AssociationsSOAP example app from Week 11.</p>
        <p>Then, you can interact with that web service.</p>
    </div>
</div>